h1 {
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}

img {
    display: block;
    margin: auto;
}

.conteiner {
    width: 375px;
    margin: 0 auto;
}

.col img {
    margin: 0px;
}

.col h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}
.col-1 {
    width: calc(calc(100% / 12) *12);
}

p input {
    width: 345px;
    margin-left: 0px;
}

.name p {
    margin-left: 15px;
}

 input {
    border: 2px solid #196CCF;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: Open Sans;
    font-weight: normal;
    font-style: normal;
    line-height: 25px;
    font-size: 18px;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    -webkit-appearance: none;
     color: #FFFFFF;
}

input:focus {
    background-color:lightgray;
    border: 2px solid greenyellow;
}

.send input {
    background: #275FBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 15px;
    margin-bottom: 63px;
    height: 50px;
}

.send p {
    text-align: center;
    padding-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
}

.inputhover:hover {
    background-color: darkred;
}
